MPADocs/
backups/
.context/
.github/
.DS_Store
.vscode/
*.log
*.tmp
masterportal-docs-short/
MPAssist.code-workspace
portalconfigs/
cleanJson/
src/utils/createdConfig.json
src/utils/hal_check.py
logs/
# Python cache
__pycache__/
*.py[cod]
*$py.class
logfile

# Virtual Environment
venv/
env/
ENV/
.venv/
.env