langchain==0.3.13
langchain-community==0.3.13
langchain-core==0.3.28
langchain-chroma==0.1.4
langchain-ollama==0.2.1
chromadb==0.4.24
ollama==0.4.4
unstructured==0.16.13

# Additional dependencies
markdown==3.7
lxml==5.3.0
libmagic==1.0
filetype==1.2.0
python-magic==0.4.27
beautifulsoup4==4.12.3
urllib3==2.2.3